<form action="/seller/<%= seller.id %>/update" method="post">

    <table border="1" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <td>Nama Seller</td>
            <td><input type="text" name="nama_seller" value="<%= seller.nama_seller %>"/></td>
        </tr>

        <tr>
            <td>Nama Toko</td>
            <td><input type="text" name="nama_toko" value="<%= seller.nama_toko %>"/></td>
        </tr>
        
        <tr>
            <td>No Telepon</td>
            <td><input type="text" name="no_telp" value="<%= seller.no_telp %>"/></td>
        </tr>

        <tr>
            <td>Email</td>
            <td><input type="email" name="email" value="<%= seller.email %>"/></td>
        </tr>

        <tr>
            <td>Alamat</td>
            <td><textarea name="alamat" cols="30" rows="10"><%= seller.alamat %></textarea></td>
        </tr>

    </table>

    <br>
    <input type="submit" value="Simpan">

</form>